<!DOCTYPE html>
<html lang="en">

<head>
    {% load static%}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .bg-garden {
            background-color: rgba(72, 148, 72, 0.616);
            background-size: cover;
        }
    </style>
    <title>Gardens</title>
</head>

<body class="bg-garden">
    <center>
        <h1 class="mt-5">Garden Dedication</h1>
        <div class="container mt-5">
            <p class="text h2">Our team decided to dedicate the gardens to some phenomenal people:</p>
            <ul style="list-style-type: circle; color: black;">
                <li>
                    <h3>Mr. & Mrs. Obama</h3>
                </li>
                <li>
                    <h3>John Brown 1800-1859</h3>
                </li>
                <li>
                    <h3>Oprah Winfrey </h3>
                </li>
                <li>
                    <h3>Robin Williams 1951-2014</h3>
                </li>
                <li>
                    <h3>Ida B. Wells 1862-1931</h3>
                </li>
                <li>
                    <h3>Lorraine Hansberry 1930-1965</h3>
                </li>
                <li>
                    <h3>Harold Washington 1922-1987</h3>
                </li>
                <li>
                    <h3>George Washington Carver 1864-1943 </h3>
                </li>



            </ul>
        </div>
    </center>
</body>

</html>