{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Welcome Page</title>
</head>

<body>
    <div class="container">
        <div class="header d-inline">
            <div class="row">
                <div class="col">
                    <img src="{% static 'images/veggies.jpg'%}" alt="" class="harvest_logo">
                </div>
                <div class="col">
                    <h1>Free Harvest Day!</h1>
                </div>
                <div class="col">
                    <a href="/login">Login Here</a> |
                    <a href="/register">Register Here</a>
                </div>
            </div>
        </div>

        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active f-size">
                                    <a class="nav-link mr-4" href="#">Harvest Day <span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item f-size">
                                    <a class="nav-link ml-5" href="/community">Community </a>
                                </li>
                                <li class="nav-item dropdown f-size">
                                    <a class="nav-link dropdown-toggle ml-5" href="/" id="navbarDropdown" role="button"
                                        data-toggle="dropdown">About Us</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown f-size">
                                        <a class="dropdown-item" href="/about_us/dee">Dee</a>
                                        <a class="dropdown-item" href="/about_us/qiana">Qiana</a>
                                        <a class="dropdown-item" href="/about_us/kc">KC</a>
                                    </div>
                                </li>
                                <li class="nav-item f-size">
                                    <a class="nav-link ml-5" href="/contact_us"> Contact Us </a>
                                </li>
                                <li class="nav-item f-size">
                                    <a class="nav-link ml-5" href="/">Events</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
        <h1>Welcome</h1>
        <h3>What are food deserts?</h3>
        <p>Food deserts are defined as parts of the country vapid of fresh fruit, vegetables, and other healthful whole foods, usually found in impoverished areas. This is largely due to a lack of grocery stores, farmers’ markets, and healthy food providers.</p>
        <p>
            This has become a big problem because while food deserts are often short on whole food providers, especiallyfresh fruits and vegetables, instead, they are heavy on local quickie marts that provide a wealth of processed, sugar, and fat laden foods that are known contributors to our nation’s obesity epidemic. The food desert problem has in fact become such an issue that the USDA has outlined a map of our nation’s food deserts, which I saw on Mother Nature Network.

        </p>





    </div>








    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>