{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .bg-garden {
            background-color: rgba(72, 148, 72, 0.616);
            background-size: cover;
        }
    </style>
    <title>Welcome Page</title>
</head>

<body class="bg-garden">
    <div class="container">
        <div class="header d-inline">
            <div class="row">
                <div class="col">
                    <img src="{% static 'images/veggies.jpg'%}" alt="" class="harvest_logo">
                </div>
                <div class="col">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <h1>Free Harvest Day!</h1>
                </div>
                <div class="col">
                    <a href="/login">Login Here</a> |
                    <a href="/register">Register Here</a> |
                    <a href="/logout">Logout Here</a>
                </div>
            </div>
        </div>

        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active f-size">
                                    <a class="nav-link mr-4" href="/food_deserts">Food Deserts<span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item f-size">
                                    <a class="nav-link ml-5" href="/community">Community </a>
                                </li>
                                <li class="nav-item dropdown f-size">
                                    <a class="nav-link dropdown-toggle ml-5" href="/" id="navbarDropdown" role="button"
                                        data-toggle="dropdown">About Us</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown f-size">
                                        <a class="dropdown-item" href="/about_us/1">Dee</a>
                                        <a class="dropdown-item" href="/about_us/2">Qiana</a>
                                        <a class="dropdown-item" href="/about_us/3">KC</a>
                                    </div>
                                </li>
                                <li class="nav-item f-size">
                                    <a class="nav-link ml-5" href="/contact_us"> Contact Us </a>
                                </li>
                                <li class="nav-item f-size">
                                    <a class="nav-link ml-5" href="/events">Events</a>
                                </li>
                                <li class="nav-item f-size">
                                    <a class="nav-link ml-5" href="/Gardens"> Gardens</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
        <center>
            <h1>Welcome {{user.first_name}}!</h1>
            <div class="container mt-3">

                <img src="{% static 'images/group.jpg' %}" alt="Locally Grown" style="width: 300px;"">
            
            <header>
                <p><span style="font: bold;">Call Us:(123)-456-7890</span>
                </p>
            </header>
            <p>This Community Harvest Garden was created by three dynamic Full-Stack Developers Qiana, KC and Dee from
                Coding Dojo.</p>
            <p> Our mission is to bring Fresh Organic Produce to areas of the city which are pleagued by food deserts.
                We realize there are families that can't afford to purchase these necessities and by placing these
                gardens in the areas mentioned we'd be giving our communities a chance to grow, learn also care for the
                produce which they will be able to harvest and bring home to feed their households.</p>
            <p>We started the ground work by mapping our areas in the city that are affected by this, however we are
                looking to further our search with the help of any and eveyone that wants to get involved in helping us
                locate and or volunteer in our effort to help our local communities.
            </p>
            <p>If this is idea sounds like something you'd like to be apart of please click below:</p>

            <a href="/register" class="btn btn-primary">Click here!</a>
        </center>
    </div>

    </div>
    {% if not_logged %}
    <!-- modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-show="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Not User Logged in</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Please log in or register</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- end modal -->


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(function () {
            $('#myModal').modal();
        })
    </script>
</body>

</html>