<!DOCTYPE html>
<html lang="en">

<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static 'free_harvest_day/css/'%}"> -->
    <title>Welcome Page</title>
</head>

<body>
    <h1>Welcome {{user.first_name}}</h1>
    <div class="container mt-3">
            <img src="{% static 'free_harvest_day_app/images/harvest pic.png' %}" alt="Locally Grown">
        <header>
            <p><span class="">Call Us:(123)456-7890z</span>
            </p>
        </header>
        <p>This Community arvest Garden was created by three dynamic Full-Stack Developers Qiana, KC and Dee from Coding Dojo.</p>
        <p> Our mission is to bring Fresh Organic Produce to areas of the city which are pleagued by food deserts. We realize there are families that can't afford to purchase these necessities and by placing these gardens in the areas mentioned we'd be giving our communities a chance to grow, learn also care for the produce which they will be able to harvest and bring home to feed their households.</p>
        <p>We started the ground work by mapping our areas in the city that are affected by this, however we are looking to further our search with the help of any and eveyone that wants to get involved in helping us locate and or volunteer in our effort to help our local communities.
        </p>
        <p>If this is idea sounds like something you'd like to be apart of please click below:</p>

        <button type="button">Click Me!</button>
    </div>

</body>

</html>






