<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Garden List</title>
        <meta name="description" content="">
        {% load static %}
        <link rel="stylesheet" href="{% static 'indiv_garden_info/css/styles.css' %}">
        
    </head>

    <body> <!--whole browser page-->
        <h1>Ward "#" Gardens</h1>
        <div class="garden_box">
            <h3>"Name of Garden"</h3>
            <p>"Give address of garden"</p>
            <!--image as button-->
            <!--needs to hover with message-->
            <img id="image_button" src="{% static 'indiv_garden_info/images/bigGreen.jpg' %}" alt="Raised Garden">
            <p>"Description of Garden...what is grown? Estimated date of harvest."</p>
        <!--start of popup window-->
            <div id="pop_up_wrapper" class="display_none reg_window">
                <div class="window_info ">
                    <!--/garden_registration-->
                    <form action="/garden_registration" method="POST">
                        {% csrf_token %}
                        <span class="close" title="Close PopUp">&times;</span>
                        <!--need to accept downloaded picture-->
                        <img class="pop_up_pic" src="{% static 'indiv_garden_info/images/bigGreen.jpg' %}" alt="Raised Garden">
                        <h3>Register Garden/Garden Space</h3>
                        <input type="text" name="garden_name" placeholder="Enter Garden's Name">
                        <input type="text" name="garden_address" placeholder="Enter Garden's Address">
                        <input type="text" name="ward_num" placeholder="Enter Ward Number">
                        <input type="date" name="plant_date" value="Enter Next Planting Date">
                        <textarea name="plans" rows="10" placeholder="Enter Desired Plans for Garden"></textarea>
                        <button id= "window_button" type="submit">Register</button>
                    </form>
                </div> <!--end of .window_info-->
            </div> <!--end of #pop_up_wrapper and .window-->
            <!--end of popup window-->
        </div> <!--end of .garden_box-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'indiv_garden_info/js/script.js' %}"></script>

    </body>
</html>