<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Garden List</title>
        <meta name="description" content="">
        {% load static %}
        <link rel="stylesheet" href="{% static 'indiv_garden_info/css/styles.css' %}">
        
    </head>

    <body> <!--whole browser page-->
        <div class="map">
            <img src="{% static 'indiv_garden_info/images/map.png' %}">
        </div><!--end of .map-->
        <!-- <form action="/map_garden_search" method="POST">
            <input type="hidden" name="general_map" value="https://www.google.com/maps/">
            <p>I wanna garden in <input type="text" name="location"></p> -->

        </form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'indiv_garden_info/js/script.js' %}"></script>
    </body>
</html>
